/**************************************************************
 * ARTICLE CSS                                                *
 **************************************************************/

.populargames-article-intro {
    margin: 0 0 40px 0;
}

.populargames-article-intro h1 {
    color: white;
    font-size: 2.8rem;
    font-family: "RobotoBlack", sans-serif;
    padding: 20px 0 20px 0;
    font-weight: 800;
    margin: 0;
    letter-spacing: 6px;
}

.populargames-article-intro p {
    color: white;
    font-size: 1.3rem;
    line-height: 1,2rem;
    font-family: "RobotoRegular", sans-serif;
}

.populargames-article-rules p {
    color: white;
    font-size: 1.3rem;
    line-height: 1,2rem;
    font-family: "RobotoRegular", sans-serif;
}

.populargames-article-strat p {
    color: white;
    font-size: 1.3rem;
    line-height: 1,2rem;
    font-family: "RobotoRegular", sans-serif;
}

.populargames-article-video {
    display: flex;
    justify-content: center;
}
.populargames-article-video iframe {
    width: 1000px;
    height: 500px;
}

.populargames-article-rules h2 {
    color: white;
    font-size: 2.2rem;
    font-family: "RobotoBold", sans-serif;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 10px; 
    margin-top: 10px;
}

.populargames-article-strat h2 {
    color: white;
    font-size: 2.2rem;
    font-family: "RobotoBold", sans-serif;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 10px; 
    margin-top: 10px;
}

.populargames-article-img {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 40px; 
    margin-top: 40px;
}