/*
 *  FOOTER
 */

.footer-background {
    background-color: #34495e;;
    height: 750px;
    padding: 20px 0 0 0;
    width: 100%;
}

.footer-grid {
    position: relative;
    width: 90%;
    max-width: 1250px;
    margin: 75px auto 75px auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    grid-auto-rows: 250px;
    overflow: hidden;
}

.footer-grid-element span {
    color: white;
    font-size: 1.25rem;
    font-family: "RobotoRegular", sans-serif;
    letter-spacing: 1.25px;
}

.footer-grid-element p {
    color: white;
    font-size: 1.1rem;
    max-width: 11rem;
}

.footer-url a {
    color: white;
    padding-bottom: 15px;
    font-size: 1.1rem;
    max-width: 11rem;
    text-decoration: none;
}

.footer-grid-element p:hover, a:hover {
    text-decoration: underline;
}

.footer-logo {
    height: 100px;
}

.footer-logo-title {
    display: flex;
    align-items: center;
}

.footer-logo-title span {
    font-size: 1.6rem;
    letter-spacing: 2.25px;
}

.footer-icon {
    height: 37.5px;
}
