/*
 *  FOOTER
 */

.footer-background {
    background-color: #34495e;;
    height: 975px;
    padding: 20px 0 0 0;
    width: 100%;
}

.footer-grid {
    position: relative;
    width: 90%;
    max-width: 1250px;
    margin: 50px auto 50px auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    grid-auto-rows: 250px;
    overflow: hidden;
}

.footer-grid-element span {
    color: white;
    font-size: 1.25rem;
    font-family: "RobotoRegular", sans-serif;
    letter-spacing: 1.25px;
}

.footer-grid-element p {
    color: white;
    font-size: 1.1rem;
    max-width: 11rem;
}

.footer-url a {
    color: white;
    padding-bottom: 15px;
    font-size: 1.1rem;
    max-width: 11rem;
    text-decoration: none;
}

.footer-grid-element p:hover, a:hover {
    text-decoration: underline;
}

.footer-logo {
    height: 100px;
}

.footer-logo-title {
    display: flex;
    align-items: center;
}

.footer-logo-title span {
    font-size: 1.6rem;
    letter-spacing: 2.25px;
}

.footer-icon {
    height: 37.5px;
}

.media-visible {
    visibility: visible;
}

.footer-warning {
    position: relative;
    width: 90%;
    max-width: 1250px;
    height: auto;
    margin: auto;
}

.footer-warning p {
    margin: 0;
    padding: 10px 0 10px 0;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "RobotoRegular", sans-serif;
}

.footer-warning a {
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "RobotoRegular", sans-serif;
    text-decoration: none;
}

.footer-warning a:hover {
    text-decoration: underline;
}

/**************************************************************
 *  RESPONSIVE DESIGN                                         *
 **************************************************************/

/*
 *  GALAXY FOLD | IPHONE 5/SE | MOTO G4 | GALAXY S5 | IPHONE 6/7/8/ | IPHONE X
 */
 @media (max-width: 375px) { 
     .footer-background {
         height: auto;
     }
    .footer-grid {
        justify-content: center;
        grid-template-columns: none;
        margin: 50px auto 50px auto;
        grid-auto-rows: 225px;
    }
    .media-visible {
        position: absolute;
        visibility: hidden;
    }
    .footer-warning {
        height: auto;
    }
    .footer-warning p, .footer-warning a {
        font-size: 0.8rem;
    }
} 

/*
 *  PIXEL 2 | PIXEL 2XL | IPHONE 6/7/8 PLUS
 */
@media (max-width: 650px) { 
    .footer-background {
        height: auto;
    }
   .footer-grid {
       justify-content: center;
       grid-template-columns: none;
       margin: 50px auto 50px auto;
       grid-auto-rows: 225px;
   }
   .media-visible {
       position: absolute;
       visibility: hidden;
   }
   .footer-warning {
       height: auto;
   }
   .footer-warning p, .footer-warning a {
       font-size: 0.8rem;
   }
} 

/*
 *  IPAD
 */
 @media (max-width: 800px) { 
    .footer-background {
        height: auto;
    }
   .footer-grid {
       margin: 50px auto 50px auto;
       grid-auto-rows: 225px;
   }
   .media-visible {
       position: absolute;
       visibility: hidden;
   }
   .footer-warning {
       height: auto;
   }
   .footer-warning p, .footer-warning a {
       font-size: 0.8rem;
   }
} 

/*
 *  IPAD PRO
 */
 @media (min-width: 1024px) and (max-width: 1030px) { 
    .footer-background {
        height: auto;
    }
   .footer-grid {
       margin: 50px auto 50px auto;
       grid-auto-rows: 225px;
   }
   .media-visible {
       position: absolute;
       visibility: hidden;
   }
   .footer-warning {
       height: auto;
   }
   .footer-warning p, .footer-warning a {
       font-size: 0.8rem;
   }
} 