/*
 * MAIN
 */

.container-section {
    width: 90%;
    max-width: 1250px;
    margin: 75px auto 75px auto;
}

main h1 {
    color: white;
    font-size: 2.8rem;
    font-family: "RobotoBlack", sans-serif;
    padding: 20px 0 20px 0;
    font-weight: 800;
    margin: 0;
}

main h2 {
    color: white;
    font-size: 2.4rem;
    font-family: "RobotoRegular", sans-serif;
    margin: 0;
    padding: 20px 0 20px 0;
    line-height: 35px;
}

main h3 {
    color: white;
    font-size: 1.6rem;
    font-family: "RobotoRegular", sans-serif;
    font-weight: 400;
    margin: 0;
    line-height: 35px;
}

main h4 {
    color: white;
    font-size: 1.4rem;
    font-family: "RobotoRegular", sans-serif;
    font-weight: 400;
    margin: 0;
    letter-spacing: 5px;
}

main p {
    color: white;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.align {
    align-items: center;
    text-align: center;
}

.section {
    margin-top: 20px;
    margin-bottom: 20px;
}

/**************************************************************
 *  POINTS FORTS                                              *
 **************************************************************/

.col-4 {
    display: flex;
    align-items: center;
}

.ptsforts-col {
    position: relative;
    text-align: center;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
}

.ptsforts-col-element {
    background-color: #34495e;
    border: thick double #2c3e50;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.col-img {
    height: 125px;
    margin-top: 20px;
}

.ptsforts-background {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1000px;
    background-image: url(../img/backgroundtext.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**************************************************************
 *  EN CE MOMENT                                              *
 **************************************************************/

.figure-background {
    display: flex;
    align-items: center;
    background-color: #34495e;;
    height: 75px;
    border: thick double #2c3e50;
    border-radius: 20px;
    margin: 20px 0 20px 0;
    width: 100%;
}

.figure-background img {
    margin-left: 15px;
}

.col-4-img {
    height: 62.5px;
}

.casino-url {
    margin-left: 15px;
}

.casino-url a {
    text-decoration: none;
}

.url-title {
    color: white;
    font-size: 1.2rem;
    font-family: "RobotoRegular", sans-serif;
}

.url-desc {
    color: white;
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-family: "RobotoRegular", sans-serif;
    text-decoration: none;
}

.svg-green {
    height: 95px; 
    margin-left: 30px;
}

.figure-desc {
    text-align: center;
    font-family: "RobotoRegular", sans-serif;
    font-weight: bold;
    margin-left: 35px;
}

.button-resp {
    margin-left: 200px;
}

.button-bonus {
    width: 100%;
    height: 75px;
    border-radius: 10%/50%;
    border-style: none;
    padding: 0 50px 0 50px;
    background-color: #27ae60;
}

.button-bonus a {
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-family: "RobotoRegular", sans-serif;
    text-decoration: none;
}

.button-bonus:hover {
    opacity: 0.775;
}

/**************************************************************
 *  RESPONSIVE DESIGN - ADAPTIVE TEXT                         *
 **************************************************************/

 /*
 *  GALAXY FOLD | IPHONE 5/SE
 */
 @media (max-width: 375px) { 
    main h1 {
        font-size: 1.1rem;
    } 
    main h3 {
        font-size: 0.85rem;
        line-height: 22.5px;
    }
    .ptsfort-background {
        background-image: none;
    }
} 



/*
 *  IPHONE X | PIXEL 2XL | PIXEL 2 | GALAXY S5 | MOTO G4 | IPHONE 6/7/8 | IPHONE 6/7/8 PLUS |
 */
@media (min-width: 375px) and (max-width: 500px) { 
    main h1 {
        font-size: 1.45rem;
    } 
    main h3 {
        font-size: 1rem;
        line-height: 30px;
    }
    .ptsfort-background {
        background-image: none;
    }
    .figure-background {
        height: 100px;
        align-items: start;
        justify-content: center;
    }
    .col-4 {
        flex-direction: column;
    }
    .col-4 img {
        position: absolute;
        margin: 0;
        transform: translateX(-90px);
        z-index: 10;
    }
    .casino-url {
        visibility: hidden;
    }
    .figure-desc {
        position: absolute;
        margin: 0;
        z-index: 12;
        font-size: 0.9rem;
        transform: translateX(25px);
    }
    .svg-green {
        margin: 0;
        position: absolute;
        transform: translateY(-10px) translateX(50px);
        opacity: 0.75;
        height: 170px;
        z-index: 2;
    }
    .button-bonus {
        margin: 0;
        height: 50px;
    }
    .button-bonus a {
        font-size: 0.9rem;
    }
    .button-resp {
        height: 10px;
        transform: translateX(-58%) translateY(60px);
        z-index: 13;
    }
} 

/*
 *  SURFACE DUO
 */
@media (min-width: 500px) and (max-width: 750px) {  /* 500px < 750px */
    main h1 {
        font-size: 2rem;
    } 
    main h3 {
        font-size: 1.4rem;
    }
    .ptsfort-background {
        background-image: none;
    }
} 


/*
 *  IPAD | IPAD PRO
 */
 /*
@media (min-width: 750px) {
    main h1 {
        font-size: 2.8rem;
    } 
} */