/**************************************************************
 * JEUX POPULAIRE CSS                                         *
 **************************************************************/

.article-pg {
    position: relative;
    overflow: hidden;
}

.article-pg-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    height: auto;
    z-index: 4;
}

.article-pg-text h2 {
    font-weight: 800;
    font-size: 2rem;
    max-width: 30rem;
    letter-spacing: 5px;
    line-height: 1.8rem;
    font-family: "RobotoBold", sans-serif;
    z-index: 4;
}

.article-pg-text span {
    font-size: 1.15rem;
    line-height: 25px;
    font-family: "RobotoBold", sans-serif;
    z-index: 4;
}

.article-pg-text p {
    font-size: 1.15rem;
    line-height: 25px;
    font-family: "RobotoBold", sans-serif;
    z-index: 4;
    padding-top: 20px;
}

.article-flex-items-pg {
    display: flex;
    align-items: flex-start;
}

.article-img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.95;
    z-index: 1;
}

/**************************************************************
 * ARTICLE CSS                                                *
 **************************************************************/

 .populargames-article-intro {
    margin: 0 0 40px 0;
}

.populargames-article-intro h1 {
    color: white;
    font-size: 2.8rem;
    font-family: "RobotoBlack", sans-serif;
    padding: 20px 0 20px 0;
    font-weight: 800;
    margin: 0;
    letter-spacing: 6px;
}

.populargames-article-intro p {
    color: white;
    font-size: 1.3rem;
    line-height: 1.85rem;
    font-family: "RobotoRegular", sans-serif;
}

.populargames-article-rules p {
    color: white;
    font-size: 1.3rem;
    line-height: 1.85rem;
    font-family: "RobotoRegular", sans-serif;
}

.populargames-article-strat p {
    color: white;
    font-size: 1.3rem;
    line-height: 1.85rem;
    font-family: "RobotoRegular", sans-serif;
}

.populargames-article-video {
    display: flex;
    justify-content: center;
}
.populargames-article-video iframe {
    width: 1000px;
    height: 500px;
}

.populargames-article-rules h2 {
    color: white;
    font-size: 2.2rem;
    font-family: "RobotoBold", sans-serif;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 10px; 
    margin-top: 10px;
}

.populargames-article-strat h2 {
    color: white;
    font-size: 2.2rem;
    font-family: "RobotoBold", sans-serif;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 10px; 
    margin-top: 10px;
}

.populargames-article-img {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 40px; 
    margin-top: 40px;
}

/**************************************************************
 * POKER ARTICLE                                              *
 **************************************************************/

.populargames-article-rules ul {
    color: white;
    font-size: 1.3rem;
    line-height: 1.85rem;
    font-family: "RobotoRegular", sans-serif;
}

.populargames-article-rules h3 {
    color: white;
    font-size: 1.5rem;
    font-family: "RobotoBold", sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 10px; 
    margin-top: 10px;
}

.populargames-article-strat h3 {
    color: white;
    font-size: 1.5rem;
    font-family: "RobotoBold", sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 10px; 
    margin-top: 15px;
}

/**************************************************************
 * RESPONSIVE                                                 *
 **************************************************************/

 /*
 *  GALAXY FOLD
 */
 @media (min-width: 280px) and (max-width: 300px) {
    .article-pg h2 {
        font-size: 1.5em;
    }
    .article-pg span {
        line-height: 15px;
        font-size: 0.75rem;
    }
    .article-pg-text p {
        visibility: hidden;
    }
    .article-pg-text {
        max-height: 10.75rem;
        overflow-y: hidden;
    }
    .populargames-article-img {
        width: 100%;
    }
}

 /*
 *  IPHONE X | GALAXY S5 | MOTO G4 | IPHONE 6/7/8 | IPAD PRO
 */
 @media (min-width: 320px) and (max-width: 380px) {
    .article-pg span {
        line-height: 20px;
        font-size: 0.85rem;
    }
    .article-pg-text p {
        visibility: hidden;
    }
    .populargames-article-img {
        width: 100%;
    }
    .populargames-article-strat h2 {
        font-size: 1.5rem;
        line-height: 30px;
    }
    
}

 /*
 *  PIXEL 2 | PIXEL 2XL | IPHONE 6/7/8 PLUS
 */
 @media (min-width: 410px) and (max-width: 500px) {
    .article-pg span {
        line-height: 22.5px;
        font-size: 0.9rem;
    }
    .article-pg-text p {
        visibility: hidden;
    }
    .populargames-article-img {
        width: 100%;
    }
}

 /*
 *  
 */
 @media (min-width: 540px) and (max-width: 580px) {
    .article-pg span {
        line-height: 20px;
        font-size: 0.85rem;
    }
    .article-pg-text p {
        visibility: visible;
    }
}